################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kalingo.Core/bin/Debug
/Kalingo.Api.Client/bin/Debug
