<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Tenant" value="rohanmayekar29outlook@onmicrosoft.com" />
    <add key="ClientId" value="ddcf9ccd-cd71-4a14-9f0b-0afcb3f8b4ab" />
    <add key="ApiResourceId" value="https://rohanmayekar29outlook.onmicrosoft.com/KalingoApi" />

    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:RedirectUri" value="https://kalingoclient.com" />

    <add key="ApiBaseAddress" value="http://localhost:55577/" />

  </appSettings>
</configuration>